SPRING_DATASOURCE_URL=jdbc:postgresql://msjava-db:5432/msjava-email?currentSchema=core
SPRING_DATASOURCE_USERNAME=${DB_USER:-admin}
SPRING_DATASOURCE_PASSWORD=${DB_PASSWORD:-123456}

SPRING_RABBITMQ_HOST=msjava-broker
SPRING_RABBITMQ_PORT=5672
SPRING_RABBITMQ_USERNAME=${RABBITMQ_USER:-admin}
SPRING_RABBITMQ_PASSWORD=${RABBITMQ_PASSWORD:-123456}
