SPRING_DATASOURCE_URL=jdbc:postgresql://msjava-db:5432/msjava-email?currentSchema=core
SPRING_DATASOURCE_USERNAME=admin
SPRING_DATASOURCE_PASSWORD=123456

SPRING_RABBITMQ_ADDRESSES=amqp://admin:123456@msjava-broker:5672

SPRING_MAIL_HOST=smtp.mail.com
SPRING_MAIL_PORT=465
SPRING_MAIL_USERNAME=
SPRING_MAIL_PASSWORD=
