DB_NAME=postgres
DB_USER=admin
DB_PASSWORD=123456
DB_PORT=5432

RABBITMQ_USER=admin
RABBITMQ_PASSWORD=123456
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672

USER_SERVICE_PORT=8081
USER_SERVICE_DEBUG_PORT=5005
EMAIL_SERVICE_PORT=8082
EMAIL_SERVICE_DEBUG_PORT=5006
